<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activation Mail</title>
  </head>
  <body>
    <div>
      <h2>Hello <%= user.userName %></h2>
      <h4>This is your activation code. Will expire in 5 minute.</h4>
      <h1><%= activationCode %></h1>
    </div>
  </body>
</html>
